<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>City Page</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <% const city=info[0] %>
        <div class="main-title">Travel Page</div>
        <div class="marquee">
            <p>Welcome to Our Travel Website! Explore the World with Us!</p>
        </div>
        <div class="navbar">
            <a href="/">Feature</a>
            <a href="/plannerOverview">Planner</a>
            <a href="/country_comparison">Comparison</a>
            <a href="/calendar">Calendar</a>
        </div>
        <form class="search-bar" action="/city" method="POST">
            <input type="text" name="value">
            <button type="submit">Enter</button>
        </form>

        <section class="cityWrapper">
            <h1 class="cityName">
                <%= city.name %>
            </h1>
            <div class="informationWrapper">
                <div class="mainInformation">
                    <div class="currentEvents">
                        <div class="infoBlock">
                            <h2>
                                Upcoming Events
                            </h2>
                            <img src=<%=city.url1 %> alt="" class="infoPic">
                            <h4 class="event-item">
                                <%= city.currentEventsTitle %>
                            </h4>
                            <p>
                                <%= city.currentEventsDes %>
                            </p>

                        </div>
                    </div>
                    <div class="sites">
                        <div class="infoBlock">
                            <h2>Sites to See</h2>
                            <img src=<%=city.url2 %> alt="" class="infoPic">
                            <h4 class="site-item">
                                <%= city.landmarkTitle %>

                            </h4>
                            <p>
                                <%= city.landmarkDes %>
                            </p>
                        </div>
                    </div>
                    <div class="Activites">
                        <div class="infoBlock">

                            <h2>Fun Activites</h2>
                            <img src=<%=city.url3 %> alt="" class="infoPic">
                            <h4 class="activities-item">
                                <%= city.activitiesTitle %>
                            </h4>
                            <p>
                                <%= city.activitiesDes %>
                            </p>
                        </div>
                    </div>
                    <div class="cuisine">
                        <div class="infoBlock">
                            <h2>Popular Cuisine</h2>
                            <img src="<%=city.url4%>" alt="" class="infoPic">
                            <h4 class="cusine-item">
                                <%= city.cuisineTitle %>
                            </h4>
                            <p>
                                <%= city.cuisineDes %>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="sideInformation">

                    <div class="tags">
                        <h3>Info</h3>
                        <ul class="tagList">
                            <li class="tag">
                                <%= city.country %>
                            </li>
                            <li class="tag">
                                <%= city.region %>
                            </li>
                            <li class="tag">
                                Housing Rating:
                                <%= city.housingScore %>
                            </li>
                            <li class="tag">
                                Food Rating:
                                <%= city.foodScore %>
                            </li>
                            <li class="tag">
                                Landmark Rating:
                                <%= city.landmarkScore %>
                            </li>
                        </ul>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d<%= city.mapRoute %>"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="cityPic"><img src="<%= city.url5 %>" alt="cityPicture" class="cityPic">
                    </div>
                </div>

            </div>

        </section>

        <script src="script.js"></script>
</body>