<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="main-title">Travel Page</div>
    <div class="marquee">
        <p>Welcome to Our Travel Website! Explore the World with Us!</p>
    </div>
    <div class="navbar">
        <a href="/">Feature</a>
        <a href="/plannerOverview">Planner</a>
        <a href="/country_comparison">Comparison</a>
        <a href="/calendar">Calendar</a>
    </div>
    <form class="search-bar" action="/city" method="POST">
        <input type="text" name="value">
        <button type="submit">Enter</button>
    </form>
    <script src="script_YI.js"></script>
    <% info.forEach(city => { %>
        <div id="featured">
            <div id="featImg">
                <img src=<%= city.url1 %>>
            </div>
            <div id="featInfo">
                <div id="cityName">
                    <form action="/city" method="POST">
                        <input type="hidden" name="value" value="<%= city.name %>">
                        <button type="submit"><%= city.name %></button>
                    </form>
                </div>
                <div><%= city.landmarkDes %></div>
                <div>Food: <img src=<%= functions.getStarPic(city.foodScore) %>></div>
                <div>Housing: <img src=<%= functions.getStarPic(city.housingScore) %>></div>
                <div>Landmarks: <img src=<%= functions.getStarPic(city.landmarkScore) %>></div>
            </div>
        </div>
    <% }) %>
    <script>
        // const search = document.getElementById('search');
        // search.addEventListener('click', () => {
        //     window.location.href = "cityPage.html"
        // });
    </script>
</body>

</html>